In [3]:
import numpy as np

In [6]:
dt = np.dtype(np.int16) 
print(dt)

**Note:** int8, int16, int32, int64 can be replaced by equivalent string 'i1', 'i2','i4', etc.

In [7]:
dt = np.dtype('i4')
print(dt)

\# First create the structured data type

In [8]:
dt = np.dtype([('age',np.int8)]) 
print(dt)

Apply it to the ndarray object

In [9]:
a = np.array([(10,),(20,),(30,)], dtype = dt) 
print(a)

Accessing data using age column

In [10]:
print(a['age'])

In [15]:
student = np.dtype([('name','S20'), ('age', 'i1'), ('marks', 'f4')]) 
a = np.array([('abc', 21, 50),('xyz', 18, 75)], dtype = student) 
print(a)